@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

.main-app {
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    padding: 0.3rem;
    box-sizing: border-box;
    min-width: 800px;
    max-width: 100%;
    /* Allow the app to be as wide as the viewport permits */
    height: 100vh;
    font-family: "Metrophobic", sans-serif;
    font-size: 16px;
    text-align: center;
}

/* Apply specific styles for smaller screens */
@media only screen and (max-width: 800px) {
    .main-app {
        min-width: auto;
        /* Remove minimum width restriction for smaller screens */
    }
}